  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:url(./image/bg-body.jpg);
  }

  .page{
    background:url(./image/bg-header.jpg) no-repeat center top;
  }
  
  header{
    background:url(./image/bg-navigation.jpg) no-repeat center 50px;
    width:940px;
    margin:0 auto;
    height:105px;
    padding:20px 10px 0;
  }
  header ul{
    margin:0;
    list-style:none;
    padding:13px 0 0;
    float:right;
  }
  header ul li{
    float:left;
    margin:0 0 0 63px;
  }
  header ul li.selected a,.header ul li a:hover{
    color:#f78117;
  }
  header ul li:hover{
    background-color:#dfaf86; 
    color: snow;
  }
  header ul li a{
    font-size:16px;
    text-decoration:none;
    color:#5e5e5e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline:none;
  }
  
  .body{
    width:940px;
    margin:0 auto;
    padding:0 10px;
    overflow:hidden;
  }

  img {
    float: right;
    height:250px;
    width: 450px;
  }
  .body div#featured h2{
    color:#e66e06;
    font-size:36px;
    font-family: 'RokkittRegular';
    margin:0 0 30px;
    width:700px;
    padding:20px 0 0;
    font-weight:normal;
  }
  .body div#featured p{
    width:480px;
    color:#5d5d5d;
    font-family: 'RokkittRegular';
    font-size:20px;
    line-height:25px;
    text-shadow: 0 1px 0 #fcfcfc;
    text-align:justify;
    margin:0;
   
  }
 
 
  .project {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5c5c;
    margin: 10px;
    padding: 10px;
    background:url(./image/bg-navigation.jpg) no-repeat center 90px;


  }
 
 .grid-container {
  display: grid ;
  justify-content: center;
  grid-column-gap: 5px;
  grid-column-gap: 5px;
  grid-template-columns: repeat(4, 250px);
  padding: 5px; 
  
 }

 .grid {
  justify-content: center;
  background-color: #d1cbc6; 
  color:#5e5e5e;;
  border: 1px solid white;
  margin:  10px 0;
  padding:  10px 0; 
  font-size: 14px;
  text-align: center;
 

 }

 .footer{
	width:940px;
	background:url(./image/bg-footer.jpg) no-repeat center top;
	padding:65px 10px 207px;
	margin:0 auto;
	overflow:hidden;
}

.footer div.connect a#facebook{
	width:27px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(./images/icons.gif) no-repeat;
}
.footer div.connect a#twitter{
	width:36px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(./images/icons.gif) no-repeat 0 -48px;
	margin:0 0 0 68px;
}
.footer div.connect a#linkdin{
	width:32px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(./images/icons.gif) no-repeat 0 -96px;
	margin:0 0 0 73px;
}
/* ------------------Project------------------------ */
td, th {
  border: 2px solid #8f8a86;
  text-align: center;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
th{
  color: #e66e06;
  font-size: 20px;
}

